<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="NewApps.htm" />
                <add value="maintenance.html" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".rdp" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".rdp" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".2xa" mimeType="application/octet-stream" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
		<rewrite>
			<rules>
                <clear />
                <rule name="HTTP to HTTPS redirect" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>

			</rules>
			<outboundRules>
				<rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
					<match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="on" ignoreCase="true" />
					</conditions>
					<action type="Rewrite" value="max-age=31536000" />
				</rule>
			</outboundRules>
            <rewriteMaps>
                <rewriteMap name="newintranet.goodwintx.com">
                    <add key="newintranet.goodwintx.com" value="intranet.goodwintx.com" />
                </rewriteMap>
            </rewriteMaps>
			
		</rewrite>
        <httpRedirect enabled="false" destination="http://intranet.goodwintx.com/" httpResponseStatus="Permanent" />


    </system.webServer>
</configuration>
